<h1>Listing all articles </h1>
<%= link_to "Create new article"
<table>
<tr>
<th>Titles</th>
<th>Description</th>
</tr>
<% @articles.each do |article| %>
<tr>
<td><%= article.title %></td>
<td><%= article.description %></td>
</tr>
<% end %>
</table>